section#footer(layout-padding layout='row' flex)
    div
        span.copyright
            | Copyright &copy; 2015 Animatron. &nbsp;
            br(hide-gt-sm)
            | All screenshots &copy; their respective
        a.privacy-policy-link(ui-sref='privacy', ui-sref-active='active') privacy policy
    span(flex)
    nav
        a.icon-gh(target='_blank', href='https://github.com/Animatron')
        a.icon-tw(target='_blank', href='https://twitter.com/animatron')
        a.icon-fb(target='_blank', href='https://www.facebook.com/TheAnimatron')