.titi {
  font-family: 'Titillium Web', sans-serif;
}

.font-roboto {
  font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
}

.body-font {
  .font-roboto;
  line-height: 20px;
  font-weight: 300;
  font-size: 14px;
  color: #2e2f44;

  a {
    color: #0099cc;
    text-decoration: none;
    transition: color 0.2s ease-out;
  }
}