@import (reference) "_mixins";

* {
  margin: 0;
}

html, body {
  height: 100%;
  .font-roboto;
}

h1 {
  margin-top: 100px;
  .font-roboto;
  font-size: 30px;
  color: @text-black;
  text-transform: uppercase;
}

a {
  color: @link;
  transition: color .2s ease-out;
  text-decoration: none;
  cursor: pointer;

  &:hover, &.active {
    text-decoration: underline;
  }
}


ul.h-list {
  list-style: none;
  li {
    display: inline-block;
  }
}

[ui-sref] {
  cursor: pointer;
}

[layout-padding] {
  padding: 0 30px;
}

.arrow {
  &.bottom {
    &:before {
      content: "";
      display: inline-block;
      transform: translateY(50%);
      margin: 5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0;
      border-color: #fff transparent transparent;
    }
  }
}

.description {
  margin: 15px 0 30px;
  .font-roboto;
  font-size: 18px;
  color: @text-gray;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.main-wrapper {
  min-height: 100%;
  margin-bottom: -@footer-height;
}

.main-wrapper:after {
  content: "";
  display: block;
}

body > footer, .main-wrapper:after {
  height: @footer-height;
}

.body-font {
  .font-roboto;
  line-height: 20px;
  font-weight: 300;
  font-size: 14px;
  color: @text-black;

  a {
    color: @link;
    text-decoration: none;
    transition: color 0.2s ease-out;
  }
}
