@import (reference) "_mixins";

* {
  margin: 0;
}

html, body {
  height: 100%;
  .font-roboto;
}

a {
  color: @link;
  transition: color .2s ease-out;
  text-decoration: none;
  cursor: pointer;

  &:hover, &.active {
    text-decoration: underline;
  }
}

[ui-sref] {
  cursor: pointer;
}

[layout-padding] {
  padding: 0 30px;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.main-wrapper {
  min-height: 100%;
  margin-bottom: -@footer-height;
}

.main-wrapper:after {
  content: "";
  display: block;
}

body > footer, .main-wrapper:after {
  height: @footer-height;
}

ul.h-list {
  list-style: none;
  li {
    display: inline-block;
  }
}

.titi {
  font-family: 'Titillium Web', sans-serif;
}

.body-font {
  .font-roboto;
  line-height: 20px;
  font-weight: 300;
  font-size: 14px;
  color: #2e2f44;

  a {
    color: #0099cc;
    text-decoration: none;
    transition: color 0.2s ease-out;
  }
}
